<?xml version="1.0"?>
<launch>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="box_name" default="box"/>
  <arg name="gui" default="true"/>
  <arg name="empty_world"     default="~/usr/share/gazebo-9/worlds" /> 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm)/urdf/robot_description.urdf.xacro'"/>

  <arg name="robot_name" default="robot"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="world_name" value="$(arg empty_world)"/>
        <arg name="gui" value="$(arg gui)"/>
       
    </include>
  <include file="$(find swarm)/launch/box_spawn.launch" pass_all_args="true">
            <arg name="initial_pose_x" value="0.0"/>
            <arg name="initial_pose_y" value="1.0"/>
            <arg name="box_name" value="$(arg box_name)_1"/>

  </include>  



<group ns="$(arg robot_name)">

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm)/urdf/robot_description.urdf.xacro'"/>

<!--    load controllers -->
<!--   <rosparam file="$(find swarm)/config/controllers.yaml" command="load"/> -->
 -->
  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>
   


  <!-- load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" 
        args="joint_state_controller"/> --> <!--  ns="$(arg robot_name) -->

  

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="$(arg robot_name)/joint_states" />

  </node>

  <node name="rviz" pkg="rviz" type="rviz"   />
  
    <node name="$(arg robot_name)_spawn" pkg="gazebo_ros" type="spawn_model" args="-param /robot_description -x $(arg initial_pose_x) -y $(arg initial_pose_y) -z $(arg initial_pose_a) -unpause -urdf -model $(arg robot_name)">
    </node>
 
</group>



  	<!-- Show in Rviz   -->



</launch>