<?xml version="1.0"?>

<launch>

    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="1.0"/>
    <arg name="robot_name" default="robot"/>

    <!--  ******************** Robot Model ********************  -->
   
     <param name="robot_description" command="$(find xacro)/xacro  '$(find swarm)/urdf/robot_description.urdf.xacro'  robot_name:=$(arg robot_name)   " />  <!-- den pernaei to arg
 -->
           
       <!--  <node pkg="swarm" name="get_position" type="get_position.py" output="screen" args="$(arg robot_name) ">
        </node>  -->
        <!-- <node pkg="swarm" name="state_machine" type="state_machine.py" output="screen" args="$(arg robot_name) ">
        </node>  -->
       <!--  <node pkg="swarm" name="PSO_node" type="PSO_node.py" output="screen" args="$(arg robot_name) ">
        </node>  -->





         <node pkg="swarm" name="Laser2pc" type="laser2pc.py" output="screen" args="$(arg robot_name) ">
        </node> 

        <rosparam file="$(find swarm)/config/controllers.yaml" command="load"/>

        <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" 
        args="joint_state_controller"/>







        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  

<!--         convert joint states to TF transforms for rviz, etc 
 -->        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen">
           
        </node> 

     
   

  

      

    

    <!-- Spawn a robot into Gazebo -->
    <node name="$(arg robot_name)_spawn" pkg="gazebo_ros" type="spawn_model" args="-param /robot_description -x $(arg initial_pose_x) -y $(arg initial_pose_y) -z $(arg initial_pose_a) -unpause -urdf -model $(arg robot_name)">
    </node>


</launch>
